/* Slim scroll */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bec4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* index.css */
@font-face {
  font-family: "poppins-bold";
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins-semi-bold";
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "poppins-italic";
  src: url("./fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply font globally */
body {
  font-family: "poppins-italic", sans-serif;
}
